@import (reference) "base.less";

body.home {
  padding-top: 0;

  &:before {
    content: "";
    display: block;
    background-color: #888888;
    height: 500px;
    width: 100%;
    z-index: -1;
    position: absolute;
    transform: rotate(6deg);
    transform-origin: bottom right;
    top: -40px;
    right: calc(~"50% + 289px");
  }
  
  h2 {
    border-bottom: 2px solid #808080;
    font-size: 1.2rem;
    line-height: 1.7;
  }
}

.home-section {
  margin-top: 150px;
  font-weight: 300;

  a:not(.btn) {
    text-decoration: none;
    font-weight: 400;

    &:hover, &:active, &:focus {
      border-bottom: 1px solid currentColor;
    }
  }

  .btn {
    font-weight: 400;
    margin-left: 5px;
    margin-right: 5px;
  }
}


.ci-git {
  margin-top: 0;
  padding-top: 300px;
  min-height: 300px;
  position: relative;

  .empty-logo {
    float: left;
    width: 132px;
    margin-right: 50px;
  }

  h1 {
    font-weight: 300;
  }
}

a.goodbyesl {
  font-style: italic;
  text-decoration: none;
}

.shows-list .headline {
  width: 48%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-bottom: 10px;

  h1 {
    font-size: 1.5em;
    letter-spacing: -1px;
    line-height: 1.65em;
  }

  &:active {
    height: auto;
    margin-bottom: 15px;
  }
}

.shows-list a .headline {
  float: left;
}

.shows-list {
  .clearfix;
}
