body.letter-space-please .cover h2 {
    letter-spacing: -2px;
}

#page.replay {
    background-color: #171717;
    color: #888888;
    min-height: 760px;

    .cover {
        height: 150px;
        width: 1000px;
        background-image: url(/static/imgs/covers/live.jpg);
        overflow: hidden;
        position: relative;
        z-index: 2;
        color: white;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        box-shadow: 0px 4px 4px rgba(0,0,0,0.2);

        h2 {
            font-family: 'Overlock','Trebuchet MS',sans-serif;
            font-size: 28pt;
            margin: 0;
            position: absolute;
            top: 95px;
            left: 70px;
            z-index: 10;
            text-shadow: 1px 1px 2px rgba(0,0,0,0.5), 3px 3px 4px rgba(0,0,0,0.6);
            cursor: default;
        }
    }

    p.big-message {
        font-family: 'Overlock','Trebuchet MS',sans-serif;
        font-size: 17pt;
        line-height: 28px;
        margin-top: 54px;
        margin-bottom: 64px;
        margin-left: 70px;
        font-weight: normal;
    }

    .show-description {
        background-color: #dfdfdf;
        color: black;
        min-height: 82px;
        margin-top: 0px;
        margin-bottom: 30px;
        padding-left: 70px;
        padding-right: 70px;
        padding-top: 20px;
        padding-bottom: 18px;
        position: relative;
        z-index: 1;
        box-shadow: 0 5px 5px rgba(0,0,0,0.4);

        .show-img {
            margin: 0;
            float: left;
        }

        h3 {
            margin: 0;
            font-size: 16pt;
            font-weight: normal;
            margin-left: 100px;
            margin-right: 240px;
        }

        p {
            margin-left: 100px;
            margin-right: 240px;
            margin-top: 5px;
            font-size: 9pt;
            margin-bottom: 5px;
        }

        .show-podcast-links {
            margin: 0px;
            position: absolute;
            right: 70px;
            width: 240px;
            text-align: right;
            top: 20px;

            a {
                margin-bottom: 10px;
                text-align: left;
            }
        }
    }

    div.filter-by-show {
        padding-left: 70px;
        padding-right: 70px;
        border-bottom: 1px solid #424242;

        ul { margin: 0; padding:0; }

        li {
            display: inline-block;
            margin: 0;
            border-right: 1px solid #424242;
            vertical-align: bottom;

            a {
                display: inline-block;
                padding: 10px;
                font-size: 10pt;
                vertical-align: center;
            }

            &:first-child a {
                padding-left: 0px;
            }

            &:last-child, &:last-child a {
                border-right: 0 none;
            }
        }

        li a.active {
            font-weight: bold;
        }
    }

    article.one-download {
        padding-bottom: 25px;
        margin-left: 70px;
        margin-right: 70px;
        overflow: hidden;

        h3 {
            margin: 0;
            font-size: 12pt;
            margin-bottom: 5px;
            font-weight: normal;
            border-bottom: 1px solid #424242;
            position: relative;
            padding-bottom: 0px;

            .diffused-at-info, .titre-and-summary {
                padding-bottom: 5px;
            }
        }

        .category-icon {
            display: inline-block;
            width: 50px;
            height: 42px;
            background-position: center center;
            background-repeat: no-repeat;
            opacity: 0.5;
            vertical-align: bottom;
            position: relative;
            left: 1px;
            top: -1px;
        }

        .titre-and-summary {
            margin-left: 5px;
        }

        .category-icon + .titre-and-summary {
            margin-left: 0px;
        }

        .titre-and-summary .titre, .titre-and-summary .summary {
            width: auto;
            min-width: 400px;
        }

        p {
            font-size: 10pt;
            text-align: justify;
            line-height: 1.2em;
        }

        .links-to-downloads {
            float: right;
            width: 410px;
        }

        .no-downloads-yet {
            border: 1px solid #222;
            padding: 10px 8px;
            border-radius: 5px;
            text-align: center;
        }

        .description {
            width: 410px;
        }

        .diffused-at-info {
            margin-right: 0px;
        }
    }

    article.twitter-box, article.podcasting {
        float: right;
        margin-right: 70px;
    }

    aside.next-episode {
        border-bottom-left-radius: 7px;
        border-top-left-radius: 7px;
        box-shadow: -4px 4px 4px rgba(0,0,0,0.3);
        position: absolute;
        z-index: 12;
        background-color: #f2f2f2;
        top: 95px;
        right: 0px;
        width: 320px;
        height: 91px;
        padding: 10px;
        color: #333333;

        img.show-img {
            float: left;
            width: 85px;
            height: 85px;
            position: absolute;
            top: 15px;
            left: 5px;
        }

        h2 {
            margin: 0;
            margin-left: 90px;
            font-size: 10pt;
        }

        h3 {
            margin: 0;
            font-weight: normal;
            margin-left: 90px;
            line-height: 1.35em;
        }

        h4 {
            margin: 0;
            margin-left: 90px;
            font-weight: normal;
        }

        .summary {
            margin: 0;
            margin-top: 5px;
            margin-left: 90px;
            font-size: 8pt;
            line-height: 10pt;
        }
    }
}

#twtr-widget-1 .twtr-hd,
	#twtr-widget-1 .twtr-ft {
	display: none;
}

#twtr-widget-1 .twtr-tweet {
	border-bottom-color: #954c0e;
}

#page.live article #twtr-widget-1 .twtr-timeline p {
    font-size: 9pt;
}