{% extends "page.html" %}

{% block title %}Page introuvable{% endblock %}

{% block custom_css %}
    <link rel="stylesheet" type="text/less" media="screen" href="/static/css/404.less" charset="utf-8">
{% endblock %}

{% block page_classes %}error404{% endblock %}

{% block page_content %}
    <div class="cover">
        <h2>Page introuvable</h2>
    </div>

    <p class="big-message">La page que vous avez demandé est introuvable. <small>(Peut-être arrivera-t'elle bientôt ?)</small></p>
{% endblock %}