{% extends "main.html" %}

{% block title %}Page introuvable{% endblock %}

{% block custom_css %}{% endblock %}

{% block page_classes %}error404{% endblock %}

{% block page_content %}
<section class="simple-header maximizer">
   <h1>Page introuvable :(</h1>
   <p>La page que vous avez demandé est introuvable.</p>
   <p>
       <small>
           Si vous avez suivi un lien depuis le site de SynopsLive lui-même, c'est sans doute que nous avons oublié
           de transférer une page depuis notre ancienne version. N'hésitez pas à vous plaindre à notre <a href="mailto:stan@synopslive.net">e-responsable</a>
           en lui indiquant qu'il devrait mieux faire son boulot.
       </small>
   </p>
</section>
{% endblock %}