<!doctype html>
<html>
<head>
    <title>SynopsLive</title>
    <meta charset="utf-8" />
    <link rel="icon" href="/public/favicon.png" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

    <link rel="stylesheet" type="text/css" media="screen" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,italic,bold,bolditalic" />
    <link href='http://fonts.googleapis.com/css?family=Ruluko' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" media="screen" href="/static/css/500.css" charset="utf-8">

    <script src="http://trichelieu.net/trichbar.js.php?synopslive" type="text/javascript"></script>
</head>
<body>
<div id="wrapper">
    <div id="info-fatal">
        <h3>Deck, le site de SynopsLive, éprouve quelques difficultés.</h3>
        <p>N'hésitez pas à réessayer dans <strong>quelques instants</strong>.</p>
    </div>
</div>
<script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-2963283-5']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>
</body>
</html>