{% extends "page.html" %}

{% block title %}Channel IRC{% endblock %}

{% block custom_css %}
    <link rel="stylesheet" type="text/less" media="screen" href="/static/css/live.less" charset="utf-8">
{% endblock %}

{% block page_classes %}live{% endblock %}

{% block page_content %}
    <div class="cover" style="margin-bottom: 0px;">
        <h2>Channel IRC</h2>
    </div>

    <p class="big-message">
        Discutez avec d'autres auditeurs et avec le staff de SynopsLive sur le chat ci-dessous.
    </p>

    <iframe src="http://188.165.249.118:8080?channels=synops&uio=MTE9MjEa0" width="1000" height="620"
            style="border: 0 none;"></iframe>
{% endblock %}
