{% extends "main.html" %}
{% load static %}
{% load format_natural %}

{% block rawtitle %}SynopsLive, la radio du monde numérique (direct et podcast){% endblock %}

{% block custom_css %}
<link rel="stylesheet" type="text/less" media="screen" href="{% static "css/home.less" %}" charset="utf-8">
<link rel="stylesheet" type="text/less" media="screen" href="{% static "css/components/carton.less" %}" charset="utf-8">
<link rel="stylesheet" type="text/less" media="screen" href="{% static "css/components/calendar.less" %}" charset="utf-8">
<link rel="stylesheet" type="text/less" media="screen" href="{% static "css/components/headline.less" %}" charset="utf-8">
{% endblock %}

{% block custom_js %}
<script type="text/javascript" src="{% static "js/home.js" %}"></script>
{% endblock %}

{% block page_classes %}home{% endblock %}

{% block page_content %}
<section id="cartonstand" class="hero">
    {% for episode in next_episodes %}
        {% include "components/carton.html" %}
    {% endfor %}
</section>

<section id="weekplanning" class="maximizer">
    {% include "components/calendar.html" %}
</section>

<section class="intro-sl maximizer clearfix">
    <h2>Qu'est ce que SynopsLive ?</h2>
    <img class="pull-left" src="{% static "imgs/logo-round-synopslive.png" %}" alt="" />
    <p class="pull-right">
        SynopsLive était une radio qui diffuse 24h/24 de la musique et des émissions inédites
        tout au long de la semaine.
        Créée par des amateurs en 2007, SynopsLive était devenue l'une des rares radio sur
        Internet à réaliser plusieurs émissions en direct par semaine, tout en accueillant
        près d'une vingtaine d'émissions différentes par mois.
    </p>
    <p>
        <span class="pull-left nega-left">
            <a class="btn flat" href="{% url "shows" %}">
                Découvrir nos archives <i class="fa fa-fw fa-chevron-right"></i>
            </a>
        </span>
    </p>
</section>

<section class="last-shows maximizer clearfix">
    <h2>Dernières émissions diffusées</h2>

    {% for episode in last_episodes %}
    <a href="{% url "show" episode.show.slug %}">
        {% include "components/headline.html" with show=episode.show episode=episode %}
    </a>
    {% endfor %}

    <p><a href="{% url "replay" %}" class="pull-right btn"><i class="fa fa-fw fa-download"></i> Télécharger plus d'émissions</a></p>
</section>

{% endblock %}
