{% extends "main.html" %}
{% load staticfiles %}

{% block title %}Écouter en direct{% endblock %}

{% block custom_css %}
    <link rel="stylesheet" type="text/less" media="screen" href="{% static "css/live.less" %}" charset="utf-8">
{% endblock %}
{% block custom_js %}
    <script src="{% static "js/live.js" %}"></script>
{% endblock %}

{% block page_classes %}live{% endblock %}

{% block page_content %}
<section class="live-player">
    <canvas class="live-canvas" width="100%" height="250px"></canvas>
    <div class="maximizer">
        <button class="live-play-button">
            <i class="fa fa-fw fa-play"></i>
        </button>
        <p class="live-now-legend">Actuellement</p>
        <h1 class="live-show-name">Flux permanent</h1>
        <p class="live-hint-click">
            Cliquez sur le bouton rouge <i class="fa fa-fw fa-play"></i> pour commencer l'écoute en direct.
        </p>
        <p class="live-metadata">
            <i class="fa fa-fw fa-music"></i>
            <span class="live-artist"></span> - <span class="live-album"></span>
        </p>
{#        <div class="live-volume-slider"></div>#}
{#        <button class="live-volume-dragger">#}
{#            <i class="fa fa-fw fa-volume-down"></i>#}
{#        </button>#}
        <p class="live-auxiliary-bar">
            <a class="live-post-tweet" href="https://twitter.com/intent/tweet?text=%23SynopsLive">
                <i class="fa fa-fw fa-twitter"></i>
                #SynopsLive
            </a>
            <a class="live-open-in-local-player" href="http://embed.synopslive.net/synopslive.m3u">
                <i class="fa fa-fw fa-music"></i>
                Ouvrir dans votre lecteur de musique
            </a>
            <a class="live-open-in-local-player" href="http://synopslive.net/public/firewalled.m3u">
                <i class="fa fa-fw fa-flash"></i>
                Version anti-parefeu
            </a>
        </p>
        <audio id="live-audio" preload="none">
            <source src="http://live.synopslive.net:8000/synopslive-permanent.ogg" type="audio/ogg">
            <source src="http://live.synopslive.net:8000/synopslive-permanent.mp3" type="audio/mpeg">
            <div class="live-audio-not-supported">
                Votre navigateur est trop vieux pour lire directement
                notre flux audio.
                <a href="http://embed.synopslive.net/synopslive.m3u">Écouter SynopsLive
                depuis votre lecteur audio (VLC)</a>
            </div>
        </audio>
    </div>
</section>
<section class="live-content">
    <div class="maximizer">
        <div class="synopsis" style="display: none;">
            <p></p>
        </div>
        <div class="off-synopsis">
            <p>
                Il n'y a aucune prochaine émission de prévue. Si c'est le cas, cette page se mettera automatiquement
                à jour avec une description de la prochaine émission.
            </p>
        </div>
        <div class="twitter-feed">
            <a class="twitter-timeline" data-chrome="noheader noborder transparent" href="https://twitter.com/search?q=SynopsLive+OR+%23LeSynops+OR+%40SynopsLive"  data-widget-id="464735260677120000">Chargement des tweets en cours.</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
    </div>
</section>
{% endblock %}
