{% load compress %}
{% load staticfiles %}
{% load footer %}
{% load header %}
<!doctype html>
<html>
<head>
    <title>{% block rawtitle %}{% block title %}{% endblock %} ⋅ SynopsLive{% endblock %}</title>
    <meta charset="utf-8" />
    <link rel="icon" href="/public/favicon.png" />
    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="//creativecouple.github.io/jquery-timing/jquery-timing.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js"></script>

    <!-- Webfonts are beautiful. -->
    <link href='http://fonts.googleapis.com/css?family=Lato:400,300,100,300italic,100italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    {% compress css %}
        <link rel="stylesheet" type="text/less" media="screen" href="{% static "css/vendor/normalize.css" %}" />
        <link rel="stylesheet" type="text/less" media="screen" href="{% static "css/vendor/font-awesome.min.css" %}" />
        <link rel="stylesheet" type="text/less" media="screen" href="{% static "css/base.less" %}" />
        <link rel="stylesheet" type="text/less" media="screen" href="{% static "css/components/header.less" %}" />
        <link rel="stylesheet" type="text/less" media="screen" href="{% static "css/components/footer.less" %}" />
        {% block custom_css %}{% endblock %}
    {% endcompress %}
    {% compress js %}
        <script type="text/javascript" src="{% static "js/synops.js" %}"></script>

        {% block custom_js %}{% endblock %}
    {% endcompress %}
    <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
</head>
<body class="{% block page_classes %}generic{% endblock %}">
    {% header %}
    {% block page_content %}
    {% endblock %}
    {% footer %}
    <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-2963283-5']);
      _gaq.push(['_setDomainName', 'synopslive.net']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</body>
</html>
