{% load compress %}
{% load staticfiles %}
{% load footer %}
{% load header %}
<!doctype html>
<html>
<head>
    <title>{% block rawtitle %}{% block title %}{% endblock %} ⋅ SynopsLive{% endblock %}</title>
    <meta charset="utf-8" />
    <link rel="icon" href="/public/favicon.png" />
    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="//creativecouple.github.io/jquery-timing/jquery-timing.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/lang/fr.min.js"></script>

    <!-- Webfonts are beautiful. -->
    <link href='http://fonts.googleapis.com/css?family=Lato:400,300,100,300italic,100italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Yay, favicons everywhere! -->
    <link rel="apple-touch-icon" sizes="57x57" href="{% static "imgs/favicons/apple-touch-icon-57x57.png" %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static "imgs/favicons/apple-touch-icon-114x114.png" %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static "imgs/favicons/apple-touch-icon-72x72.png" %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static "imgs/favicons/apple-touch-icon-144x144.png" %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static "imgs/favicons/apple-touch-icon-60x60.png" %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static "imgs/favicons/apple-touch-icon-120x120.png" %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static "imgs/favicons/apple-touch-icon-76x76.png" %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static "imgs/favicons/apple-touch-icon-152x152.png" %}">
    <meta name="apple-mobile-web-app-title" content="SynopsLive">
    <link rel="icon" type="image/png" href="{% static "imgs/favicons/favicon-196x196.png" %}" sizes="196x196">
    <link rel="icon" type="image/png" href="{% static "imgs/favicons/favicon-160x160.png" %}" sizes="160x160">
    <link rel="icon" type="image/png" href="{% static "imgs/favicons/favicon-96x96.png" %}" sizes="96x96">
    <link rel="icon" type="image/png" href="{% static "imgs/favicons/favicon-16x16.png" %}" sizes="16x16">
    <link rel="icon" type="image/png" href="{% static "imgs/favicons/favicon-32x32.png" %}" sizes="32x32">
    <meta name="msapplication-config" content="{% static "imgs/favicons/browserconfig.xml" %}" />
    <meta name="msapplication-TileColor" content="#b91d47">
    <meta name="msapplication-TileImage" content="{% static "imgs/favicons/mstile-144x144.png" %}">
    <meta name="application-name" content="SynopsLive">

    {% compress css %}
        <link rel="stylesheet" type="text/less" media="screen" href="{% static "css/vendor/normalize.css" %}" />
        <link rel="stylesheet" type="text/less" media="screen" href="{% static "css/vendor/font-awesome.min.css" %}" />
        <link rel="stylesheet" type="text/less" media="screen" href="{% static "css/base.less" %}" />
        <link rel="stylesheet" type="text/less" media="screen" href="{% static "css/components/header.less" %}" />
        <link rel="stylesheet" type="text/less" media="screen" href="{% static "css/components/footer.less" %}" />
        {% block custom_css %}{% endblock %}
    {% endcompress %}
    {% compress js %}
        <script type="text/javascript" src="{% static "js/synops.js" %}"></script>

        {% block custom_js %}{% endblock %}
    {% endcompress %}
    <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
</head>
<body class="{% block page_classes %}generic{% endblock %}">
    {% header %}
    {% block page_content %}
    {% endblock %}
    {% footer %}
    <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-2963283-5']);
      _gaq.push(['_setDomainName', 'synopslive.net']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</body>
</html>
