{% extends "main.html" %}
{% load format_natural %}
{% load safe_markdown %}
{% load static %}

{% block title %}{% if current_show == None %}Replay{% else %}{{ current_show.name }} en replay{% endif %}{% endblock %}

{% block custom_css %}
    <link rel="stylesheet" type="text/less" media="screen" href="{% static "css/replay.less" %}" />
    <link rel="stylesheet" type="text/less" media="screen" href="{% static "css/components/episode.less" %}" />
    <link rel="stylesheet" type="text/less" media="screen" href="{% static "css/components/headline.less" %}" />
{% endblock %}

{% block page_classes %}replay{% endblock %}

{% block page_content %}

<section class="simple-header maximizer">
    <h2>Replay : téléchargez les émissions que vous avez raté</h2>

    <p>
        Vous avez oublié de mettre votre réveil, vous aviez piscine, un « diner d'affaires »
        important, voire un rendez-vous amoureux qui vous a empêché d'écouter le dernier TVNR ?
        Retrouvez sur cette page toutes les dernières émissions par ordre anti-chronologique.
    </p>
</section>

<section class="replay-episodes maximizer">
    {% for episode in episodes %}
        {% include "components/episode.html" %}
    {% endfor %}

    {% if episodes.has_previous or episodes.has_next %}
    <div class="pagination">
        <p style="position: relative; text-align: center; padding-top: 10px;">
            {% if episodes.has_previous %}
                <a class="btn go-previous-page nega-top"
                   href="{% url "replay" episodes.previous_page_number %}"
                   style="display: inline-block; position: absolute; left: 0;">
                    <i class="fa fa-fw fa-chevron-left"></i> Émissions plus récentes
                </a>
            {% endif %}

            {% if episodes.has_next %}
                <a class="btn go-next-page nega-top" href="{% url "replay" episodes.next_page_number %}"
                   style="display: inline-block; position: absolute; right: 0;">
                    Émissions plus anciennes <i class="fa fa-fw fa-chevron-right"></i>
                </a>
            {% endif %}

            <span class="current" style="display: block; margin: auto;">
                Page {{ episodes.number }} sur {{ episodes.paginator.num_pages }}
            </span>
        </p>
    </div>
    {% endif %}
</section>
{% endblock %}