{% extends "main.html" %}
{% load format_natural %}
{% load safe_markdown %}
{% load static %}

{% block title %}{{ show.name }}{% endblock %}

{% block custom_css %}
    <link rel="stylesheet" type="text/less" media="screen" href="{% static "css/show.less" %}" />
    <link rel="stylesheet" type="text/less" media="screen" href="{% static "css/components/episode.less" %}" />
    <link rel="stylesheet" type="text/less" media="screen" href="{% static "css/components/headline.less" %}" />
    <link rel="stylesheet" type="text/less" media="screen" href="{% static "css/components/panorama.less" %}" />
{% endblock %}

{% block page_classes %}show{% endblock %}

{% block page_content %}

<section class="show-header panorama">
    <div class="bgimg">
        <img src="{{ show.carton_image.url }}" alt="" />
    </div>

    <div class="panorama-content">
        <div class="maximizer">
            <h1>{{ show.name }}</h1>

            <div class="show-description">
                {{ show.description | safe_markdown }}
            </div>
        </div>
    </div>
</section>

<section class="show-about maximizer">
    {% if show.producer %}
        <div class="show-producer">
            <p>Une production <strong><a href="{{ show.producer.external_url }}">{{ show.producer.name }}</a></strong>.</p>
            {% if show.producer.logo %}
                <p><img src="{{ show.producer.logo.url }}" alt="Logo de {{ show.producer.name }}"></p>
            {% endif %}
        </div>
    {% endif %}
    {% if show.external_url %}
        <p>
            <a class="btn" href="{{ show.external_url }}">{{ show.external_url_title }}</a>
        </p>
    {% endif %}
    {% if show.copyright %}
        <div class="copyright">
            {{ show.copyright|safe_markdown }}
        </div>
    {% endif %}
</section>

<section class="show-episodes maximizer">
    {% for episode in episodes %}
        {% include "components/episode.html" %}
    {% endfor %}

    {% if episodes.has_previous or episodes.has_next %}
    <div class="pagination">
        <p style="position: relative; text-align: center; padding-top: 10px;">
            {% if episodes.has_previous %}
                <a class="btn go-previous-page nega-top"
                   href="{% url "show-page" show.slug episodes.previous_page_number %}"
                   style="display: inline-block; position: absolute; left: 0;">
                    <i class="fa fa-fw fa-chevron-left"></i> Épisodes suivants
                </a>
            {% endif %}

            {% if episodes.has_next %}
                <a class="btn go-next-page nega-top" href="{% url "show-page" show.slug episodes.next_page_number %}"
                   style="display: inline-block; position: absolute; right: 0;">
                    Épisodes précédents <i class="fa fa-fw fa-chevron-right"></i>
                </a>
            {% endif %}

            <span class="current" style="display: block; margin: auto;">
                Page {{ episodes.number }} sur {{ episodes.paginator.num_pages }}
            </span>
        </p>
    </div>
    {% endif %}
</section>
{% endblock %}
