{% extends "main.html" %}
{% load format_natural %}
{% load safe_markdown %}
{% load static %}

{% block title %}Toutes nos émissions{% endblock %}

{% block custom_css %}
    <link rel="stylesheet" type="text/less" media="screen" href="{% static "css/show.less" %}" />
    <link rel="stylesheet" type="text/less" media="screen" href="{% static "css/components/headline.less" %}" />
{% endblock %}

{% block page_classes %}replay{% endblock %}

{% block page_content %}

<section class="simple-header maximizer">
    <h2>Toutes nos émissions</h2>

    <p>
        Envie de découvrir tout l'éventail des émissions que nous proposons ? Cette page reprends l'entièreté des
        émissions qui ont été diffusées sur SynopsLive.
    </p>
</section>

<section class="maximizer">
    {% regroup all_shows by archived as shows %}
    {% for show_group in shows %}
        {% if show_group.grouper %}
            <h2 id="archived" style="margin-top: 100px;">Émissions archivées</h2>
        {% endif %}
        {% for show in show_group.list %}
            <p>
                <a class="headline-link" href="{% url "show" show.slug %}">
                    {% include "components/headline.html" with show=show %}
                </a>
            </p>
        {% endfor %}
    {% endfor %}
</section>

{% endblock %}