{% load staticfiles %}
<footer>
    <div class="maximizer">
        <div class="footer-decoration">
            <img src="{% static "imgs/logo-footer.png" %}" />
        </div>

        <div class="footer-links">
            <ul class="synopslive-links">
                <li class="links-title">SynopsLive <i class="fa fa-fw fa-caret-right"></i></li>
                <li><a href="{% url "home" %}">Accueil</a></li>
                <li><a href="{% url "live" %}">Direct</a></li>
                <li><a href="{% url "shows" %}">Émissions</a></li>
                <li><a href="{% url "replay" %}">Replay</a></li>
                <li><a href="/podcasteurs">Podcasteurs</a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/legal">Mentions légales...</a></li>
            </ul>

            <ul class="shows-links">
                <li class="links-title">Émissions <i class="fa fa-fw fa-caret-right"></i></li>

                {% for show in random_shows %}
                <li><a href="{% url 'show' show.slug %}">{{ show.name }}</a></li>
                {% endfor %}

                <li><a href="{% url "shows" %}">Toutes les émissions...</a></li>
            </ul>

            <ul class="friends-links">
                <li class="links-title">Amis <i class="fa fa-fw fa-caret-right"></i></li>
                <li><a href="http://www.radiojv.com/">RadioJV.com</a></li>
                <li><a href="http://www.radiokawa.com/">RadioKawa</a></li>
                <li><a href="http://www.magoyond.com/">MagoYond</a></li>
                <li><a href="http://www.synopsite.com/">Synops (Reflets d'Acide)</a></li>
                <li><a href="http://www.netophonix.com/">Netophonix</a></li>
                <li><a href="http://www.macp3.info/">MacP3.info</a></li>
                <li><a href="http://www.facebook.com/SynopsLive">Vous !</a></li>
            </ul>
        </div>

        <p class="clearfix">
            © <strong>SynopsLive</strong> et partenaires, 2007-2015. &nbsp;
           <a href="mailto:coordination@synopslive.net">
               <i class="fa fa-fw fa-envelope-o" style="margin-right:5px;"></i>Nous contacter
           </a>
        </p>
    </div>
</footer>
